@media(max-width:1154px) {
    .contenido-servicios-orden-index:last-child {
        gap: 20px;
    }
}

@media(max-width:1023px) { 
    .contenido-servicios {
        gap: 0px;
    }
    
}

@media(max-width:767px) { 

    .servicios-section {
        margin-top: 60px;
    }
    
 .servicios_section-text h1 {
    font-size: 40px;
 }
} 

@media(max-width:500px) {
    .contenido-servicios-orden {
        width: 300px;
    } 
} 

@media(max-width:400px) {
    .contenido-servicios-orden {
        width: 250px; 
    } 

    .contenido-servicios-orden p {
        font-size: 16px;
    }
}




